In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Fortuna,40.5982,-124.1573,64.65,66,75,5.99,US,2022-06-19 22:29:31
1,1,Ushuaia,-54.8000,-68.3000,29.86,100,100,3.44,AR,2022-06-19 22:29:32
2,2,Barrow,71.2906,-156.7887,46.42,76,0,13.80,US,2022-06-19 22:29:32
3,3,Shumskiy,54.8318,99.1328,54.64,90,87,2.46,RU,2022-06-19 22:29:32
4,4,Busselton,-33.6500,115.3333,58.96,79,100,2.91,AU,2022-06-19 22:29:33

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 70

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Fortuna,40.5982,-124.1573,64.65,66,75,5.99,US,2022-06-19 22:29:31
2,2,Barrow,71.2906,-156.7887,46.42,76,0,13.80,US,2022-06-19 22:29:32
3,3,Shumskiy,54.8318,99.1328,54.64,90,87,2.46,RU,2022-06-19 22:29:32
4,4,Busselton,-33.6500,115.3333,58.96,79,100,2.91,AU,2022-06-19 22:29:33
5,5,Albany,42.6001,-73.9662,69.46,36,3,1.01,US,2022-06-19 22:29:33
6,6,Lebu,-37.6167,-73.6500,51.67,87,100,10.27,CL,2022-06-19 22:29:34
7,7,Haines Junction,60.7522,-137.5108,62.55,36,29,11.50,CA,2022-06-19 22:29:34
8,8,Esperance,-33.8667,121.9000,48.04,80,100,9.82,AU,2022-06-19 22:29:34
9,9,Port Elizabeth,-33.9180,25.5701,47.10,93,0,5.75,ZA,2022-06-19 22:29:35
11,11,Port Alfred,-33.5906,26.8910,57.85,72,71,7.67,ZA,2022-06-19 22:29:36

In [11]:
preferred_cities_df.count()

City_ID       293
City          293
Lat           293
Lng           293
Max Temp      293
Humidity      293
Cloudiness    293
Wind Speed    293
Country       287
Date          293
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Fortuna      US     64.65  40.5982 -124.1573
2            Barrow      US     46.42  71.2906 -156.7887
3          Shumskiy      RU     54.64  54.8318   99.1328
4         Busselton      AU     58.96 -33.6500  115.3333
5            Albany      US     69.46  42.6001  -73.9662
6              Lebu      CL     51.67 -37.6167  -73.6500
7   Haines Junction      CA     62.55  60.7522 -137.5108
8         Esperance      AU     48.04 -33.8667  121.9000
9    Port Elizabeth      ZA     47.10 -33.9180   25.5701
11      Port Alfred      ZA     57.85 -33.5906   26.8910

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Fortuna,US,64.65,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,Barrow,US,46.42,71.2906,-156.7887,King Eider Inn
3,Shumskiy,RU,54.64,54.8318,99.1328,
4,Busselton,AU,58.96,-33.6500,115.3333,Observatory Guest House
5,Albany,US,69.46,42.6001,-73.9662,
6,Lebu,CL,51.67,-37.6167,-73.6500,Hostal Las Lilas
7,Haines Junction,CA,62.55,60.7522,-137.5108,Parkside Inn
8,Esperance,AU,48.04,-33.8667,121.9000,Hospitality Esperance
9,Port Elizabeth,ZA,47.10,-33.9180,25.5701,39 On Nile Guest House
11,Port Alfred,ZA,57.85,-33.5906,26.8910,The Halyards Hotel

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))